@media (prefers-color-scheme: dark) {
    ::-moz-selection {
        background: hsl(81, 88%, 80%);
        color: hsl(240, 5%, 26%);
    }
    ::selection {
        background: hsl(81, 88%, 80%);
        color: hsl(240, 5%, 26%);
    }

    ::-webkit-scrollbar-track {
        background-color: hsl(240, 6%, 10%);
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: hsl(240, 6%, 10%);
    }
}

@media (prefers-color-scheme: light) {
    ::-moz-selection {
        background: hsl(81, 88%, 80%);
        color: hsl(240, 5%, 26%);
    }
    ::selection {
        background: hsl(81, 88%, 80%);
        color: hsl(240, 5%, 26%);
    }

    ::-webkit-scrollbar-track {
        background-color: white;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: white;
    }
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, hsl(84, 81%, 44%), hsl(83, 78%, 55%));
}
