.col-template-main-card {
    grid-template-rows:1fr auto;
}

.col-template-simple-card {
    grid-template-columns: 25px 1fr;
}

.col-template-micro-card {
    grid-template-columns: 35px 1fr;
}

.col-template-mini-card {
    grid-template-columns: 1fr 65px;
}
