/* quicksand-300 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/quicksand/quicksand-v22-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/quicksand/quicksand-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/quicksand/quicksand-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/quicksand/quicksand-v22-latin-300.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/quicksand/quicksand-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/quicksand/quicksand-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/quicksand/quicksand-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/quicksand/quicksand-v22-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-500 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/quicksand/quicksand-v22-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/quicksand/quicksand-v22-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/quicksand/quicksand-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/quicksand/quicksand-v22-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/quicksand/quicksand-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/quicksand/quicksand-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/quicksand/quicksand-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/quicksand/quicksand-v22-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-600 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/quicksand/quicksand-v22-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/quicksand/quicksand-v22-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/quicksand/quicksand-v22-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/quicksand/quicksand-v22-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/quicksand/quicksand-v22-latin-600.svg#Quicksand') format('svg'); /* Legacy iOS */
}


/* raleway-100 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-100.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-100.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-200.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-500.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-100italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-100italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-100italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-100italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-200italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-200italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-500italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-600italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-800italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-800italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/raleway/raleway-v19-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/raleway/raleway-v19-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/raleway/raleway-v19-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('/fonts/raleway/raleway-v19-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/raleway/raleway-v19-latin-900italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

$fa-font-path: "/fonts/fontawesome";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
